# Ignore log files
*.log
**/debug.log

# Ignore temporary files and backup files
*~
*.tmp
*.bak

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore generated configs files and the derived systemd service file (keep only the example)
config/config.yml
systemd/tampering-check@.service

# Optionally ignore local build or temporary directories
tmp/
build/

